<table class="table">
    <thead>
        <tr>
            <th>序号</th>
            <th>标题</th>
            <th>申请开始</th>
            <th>申请截止</th>
            <th>通知类别</th>
            <th>限制对象</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <ng-template ngFor let-task [ngForOf]="tasks" let-i="index">
            <tr>
                <td>{{i + 1}}</td>
                <td class="taskTitle"><a [routerLink]="[task.id]">{{task.title}}</a></td>
                <td>{{task.startDate}}</td>
                <td>{{task.endDate}}</td>
                <td><label class="badge" ngClass="{{task.type | reviewType: 'class'}}">{{task.type | reviewType: 'text'}}</label></td>
                <td><span *ngIf="task.ban">{{task.ban | level: 'text'}}在研</span></td>
                <td>
                    <button class="btn btn-outline-primary btn-sm" *ngIf="task.isApplyDateValid"
                        [routerLink]="['/create', task.id]">我要申请</button>
                    <button class="btn btn-secondary" *ngIf="task.status"
                        [routerLink]="['/', task.applicationId]">我的申请</button>
                </td>
            </tr>
        </ng-template>
    </tbody>
</table>
